<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>533323934097-njpjvai0d8l73nnc43q87au4qj2hdosh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533323934097-njpjvai0d8l73nnc43q87au4qj2hdosh</string>
	<key>API_KEY</key>
	<string>AIzaSyCyCFI0xpBTGavIFb41nC0xUtNVXT76S6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>533323934097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awesome.stream</string>
	<key>PROJECT_ID</key>
	<string>awesomestream-532da</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomestream-532da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:533323934097:ios:d7cf27bbae59ef16</string>
	<key>DATABASE_URL</key>
	<string>https://awesomestream-532da.firebaseio.com</string>
</dict>
</plist>